{% load i18n %} 
{% load catalog_tags %}

<div class="container">
    <div class="row" id="created-producted-link">
        <a class="mat-button mat-button-outline" href=""></a>
    </div>
    <form id="campaign-upload-form" class="form full" name="campaign" action="{% url 'dashboard:campaign-create' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <input type="hidden" name="added_by" value="{{request.user.pk}}">        
        <div class="mat-box container">
            <div class="actions flex-left padding-v">
                <a class="mat-button mat-button-text js-cancel" href="{%url 'dashboard:campaigns'%}">{% trans "Back" %}</a>
            </div>
            <div class="col-xs-12">
                <div class="box">
                    <div class="bold">{% trans "Desktop image" %}</div>
                   {% include "tags/images_uploader.html" with FORM_ID="campaign-upload-form" INPUT_ID="image" INPUT_NAME="" UPLOADER_TITLE=UI_STRINGS_CONTEXT.UI_CAMPAIGN_IMAGE_TITLE%}
                </div>
                <div class="box">
                    <div class="bold">{% trans "Mobile image" %}</div>
                    {% include "tags/images_uploader.html" with FORM_ID="campaign-upload-form" INPUT_ID="image-small" INPUT_NAME="image_small" UPLOADER_TITLE=UI_STRINGS_CONTEXT.UI_CAMPAIGN_IMAGE_TITLE%}
                 </div>
            </div>
            <div class="col-m-12 col-7">
            
                <div class="box new-product create-form">
                    <div class="form-group-wrapper">
                        <div class="form-group">
                            <label for="name">{% trans "Campaign Name" %}</label>
                            <input type="text" id="name" class="full" name="name" >
                        </div>
                        <div class="form-group">
                            <label for="title">{% trans "Title" %}</label>
                            <input type="text" id="title" class="full" name="title" >
                        </div>
                    </div>
                    <div class="form-group-wrapper">
                        <div class="form-group">
                            <span class="padding-bottom">{% trans "Campaign Type" %}</span>
                            <div class="row">
                                {% for k,v in CAMPAIGN_TYPES %} 
                                <span class="padding"><input id="campaign-{{v}}" class="js-input-campaign-type" type="radio" name="campaign_type" value="{{k}}" {% if k == CAMPAIGN_TYPE_REPEAT_ONCE %} checked {% endif %}> <label for="campaign-{{v}}">{{v}}</label></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group-wrapper">
                         <div class="form-group campaign-type" data-campaign-type="{{CAMPAIGN_TYPE_REPEAT_ONCE}}">
                            <label class="padding-bottom" for="start_at">{% trans "Start at" %}</label>
                            <input  type="date" name="start_at" id="start_at">
                        </div>
                         <div class="form-group campaign-type" data-campaign-type="{{CAMPAIGN_TYPE_REPEAT_ONCE}}">
                            <label class="padding-bottom" for="end_at">{% trans "End at" %}</label>
                            <input type="date" name="end_at" id="end_at">
                        </div>
                        <div class="form-group campaign-type hidden" data-campaign-type="{{CAMPAIGN_TYPE_REPEAT_WEEKLY}}" data-campaign-type-alt="{{CAMPAIGN_TYPE_REPEAT_MONTHLY}}">
                            <label class="padding-bottom" for="repeat_day">{% trans "Repeat Day" %}</label>
                            <input type="text" name="repeat_day" id="repeat_day">
                        </div>
                    </div>
                    <div class="form-group-wrapper">
                        <div class="form-group">
                            <label for="is_active">{% trans "Active" %}</label>
                            <input id="is_active" type="checkbox"  name="is_active">
                        </div>
                        <div class="form-group">
                            <label for="show_buy_btn">{% trans "Show Buy Button" %}</label>
                            <input id="show_buy_btn" type="checkbox"  name="show_buy_btn">
                        </div>
                    </div>

                    <div class="form-group-wrapper">
                        <div class="form-group">
                            <label class="padding-bottom" for="description">{% trans "Description" %}</label>
                            <textarea id="description" class="limited-input bordered" name="description" cols="30" rows="10" data-target="description-counter" data-max-length="300"></textarea>
                        </div>
                        
                        <div class="row padding-l"> <span id="description-counter" class="char-counter">0</span><span class="text-max-length">/300</span></div>
                    </div>
                    <div class="actions flex-right">
                        <a class="mat-button mat-button-outline js-cancel" href="{%url 'dashboard:campaigns'%}">{% trans "Cancel" %}</a>
                        <button class="mat-button mat-button-default" type="submit">{{UI_STRINGS_CONTEXT.UI_CAMPAIGN_CREATE_BTN_LABEL}}</button>
                    </div>
                </div><!--End of box-->
            </div>
            
        </div>
        
    </form>
</div>