{% load i18n %} 
{% load catalog_tags %}

<div class="container">
    <div class="row" id="created-producted-link">
        <a class="mat-button mat-button-outline" href=""></a>
    </div>
    <form id="campaign-update-form" class="form full" name="campaign" action="{{campaign.get_update_url}}" data-campaign="{{campaign.campaign_uuid}}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <input type="hidden" name="added_by" value="{{request.user.pk}}">
        <input type="hidden" name="changed_by" value="{{request.user.pk}}">       
        <div class="mat-box container">
            <div class="actions flex-left padding-v">
                <a class="mat-button mat-button-text js-cancel" href="{{campaign.get_dashboard_url}}">{% trans "Back" %}</a>
            </div>
            <div class="actions flex-right">
                <a class="mat-button mat-button-outline js-cancel" href="{{campaign.get_dashboard_url}}"><span>{{UI_STRINGS_CONTEXT.UI_CANCEL_BTN_LABEL}}</span></a>
                <button class="mat-button mat-button-default" type="submit">{{UI_STRINGS_CONTEXT.UI_UPDATE_BTN_LABEL}}</button>
            </div>
            
            
            <div class="col-xs-12 col-3">
                <div class="box">
                    <div class="bold">{% trans "Desktop image" %}</div>
                   {% include "tags/images_uploader.html" with FORM_ID="campaign-upload-form" INPUT_ID="image" INPUT_NAME="image" UPLOADER_TITLE=UI_STRINGS_CONTEXT.UI_CAMPAIGN_IMAGE_TITLE%}
                </div>
                <div class="box">
                    <div class="bold">{% trans "Mobile image" %}</div>
                    {% include "tags/images_uploader.html" with FORM_ID="campaign-upload-form" INPUT_ID="image-small" INPUT_NAME="image_small" UPLOADER_TITLE=UI_STRINGS_CONTEXT.UI_CAMPAIGN_IMAGE_TITLE%}
                 </div>
            </div>
            <div class="col-xs-12 col-7">
                <div class="grid padding">
                    {% if campaign.image or campaign.image_small %}
                        {% if campaign.image %}
                        <div class="padding">
                            <span>{% trans "Desktop Image :" %}</span>
                            <div class="img-wrapper">
                                <img class="img-responsive" src="{{campaign.get_image_url}}" alt="{{campaign.name}}">
                            </div>
                        </div>
                        {% endif %}
                        {% if campaign.image_small %}
                        <div class="padding">
                            <span>{% trans "Mobile Image :" %}</span>
                            <div class="img-wrapper">
                                <img class="img-responsive" src="{{campaign.get_image_small_url}}" alt="{{campaign.name}}">
                            </div>
                        </div>
                        {% endif %}
                    {% else %}
                        <div class="padding">
                            <span>{% trans "no images" %}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="box new-product create-form">
                    <div class="flex flex-left">
                        <div class="form-group">
                            <label for="name">{% trans "Campaign Name" %}</label>
                            <input type="text" id="name" class="full" name="name" value="{{campaign.name}}">
                        </div>
                        <div class="form-group">
                            <label for="title">{% trans "Title" %}</label>
                            <input type="text" id="title" class="full" name="title" value="{{campaign.title}}">
                        </div>
                    </div>
                    <div class="flex flex-left">
                        <div class="form-group">
                            <span class="padding-bottom">{% trans "Campaign Type" %}</span>
                            <div class="row">
                                {% for k,v in CAMPAIGN_TYPES %} 
                                <span class="padding"><input id="campaign-{{v}}" class="js-input-campaign-type" type="radio" name="campaign_type" value="{{k}}" {% if k == campaign.campaign_type %} checked {% endif %}> <label for="campaign-{{v}}">{{v}}</label></span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-left flex-wrap">
                         <div class="form-group campaign-type" data-campaign-type="{{CAMPAIGN_TYPE_REPEAT_ONCE}}">
                            <label class="padding-bottom" for="start_at">{% trans "Start at" %}</label>
                            <input  type="date" name="start_at" id="start_at" value="{{campaign.start_at|date:'Y-m-d'}}">
                        </div>
                         <div class="form-group campaign-type" data-campaign-type="{{CAMPAIGN_TYPE_REPEAT_ONCE}}">
                            <label class="padding-bottom" for="end_at">{% trans "End at" %}</label>
                            <input type="date" name="end_at" id="end_at" value="{{campaign.end_at|date:'Y-m-d'}}">
                        </div>
                        <div class="form-group campaign-type hidden" data-campaign-type="{{CAMPAIGN_TYPE_REPEAT_WEEKLY}}" data-campaign-type-alt="{{CAMPAIGN_TYPE_REPEAT_MONTHLY}}">
                            <label class="padding-bottom" for="repeat_day">{% trans "Repeat Day" %}</label>
                            <input type="text" name="repeat_day" id="repeat_day" value="{{campaign.repeat_day|default_if_none:''}}">
                        </div>
                    </div>
                    <div class="flex flex-left">
                        <div class="form-group">
                            <label for="is_active">{% trans "Active" %}</label>
                            <input id="is_active" type="checkbox"  name="is_active" {% if campaign.is_active %}checked{% endif %}>
                        </div>
                        <div class="form-group">
                            <label for="show_buy_btn">{% trans "Show Buy Button" %}</label>
                            <input id="show_buy_btn" type="checkbox"  name="show_buy_btn" {% if campaign.show_buy_btn %}checked{% endif %}>
                        </div>
                    </div>

                    <div class="flex flex-left flex-wrap">
                        <div class="form-group">
                            <label class="padding-bottom" for="description">{% trans "Description" %}</label>
                            <textarea id="description" class="limited-input bordered" name="description" cols="30" rows="10" data-target="description-counter" data-max-length="300">{{campaign.description}}</textarea>
                        </div>
                        
                        <div class="row padding-l"> <span id="description-counter" class="char-counter">{{campaign.description|length}}</span><span class="text-max-length">/300</span></div>
                    </div>
                    {% include "tags/dashboard_products_snippet.html" with product_list=campaign.products.all CHECKED="checked" %}
                    
                </div><!--End of box-->
            </div>
            
        </div>
        
    </form>
</div>