{% load i18n %}

<div class="dashboard-metrics">
        <div id="metrics" class="flex flex-wrap">
                <div id="metric-orders" class="metric mat-box" data-index="0">
                        <h4 class="metric-value">{{orders_count|default_if_none:'0'}}</h4>
                        <span class="metric-title"><i class="fas fa-shopping-bag icon"></i>{% trans "Orders" %}</span>
                </div>
                <div id="metric-products" class="metric mat-box" data-index="1">
                        <h4 class="metric-value">{{purchase_report.amount|default_if_none:'0'|floatformat:"-2"}} {% trans CURRENCY %}</h4>
                        <span class="metric-title"><i class="fas fa-coins icon"></i>{% trans "Revenue" %}</span>
                </div>
                <div id="metric-products" class="metric mat-box" data-index="1">
                        <h4 class="metric-value">{{purchase_report.quantity|default_if_none:'0'}}</h4>
                        <span class="metric-title"><i class="fas fa-tags icon"></i>{% trans "Solds" %}</span>
                </div>
                <div id="metric-users" class="metric mat-box" data-index="3">
                        <h4 class="metric-value">{{valid_users_count|default_if_none:'0'}}</h4>
                        <span class="metric-title"><i class="fas fa-users icon"></i>{{UI_STRINGS_CONTEXT.LABEL_USERS_PLURAL}}</span>
                </div>
                <div id="metric-users" class="metric mat-box" data-index="4">
                        <h4 class="metric-value">{{online_users_count|default_if_none:'0'}}</h4>
                        <span class="metric-title"><i class="fas fa-user-clock icon"></i>{% trans "Visitors" %}</span>
                </div>
        </div>
  </div>