{% load i18n %} 

{% if perms.auth.add_group %}

<div class="container">
    <form id="group-form" class="group-form form" name="group" action="{% url 'dashboard:group-create' %}" method="POST">{% csrf_token %}
        <div class="actions flex-right">
            <a class="mat-button mat-button-outline js-cancel" href="{%url 'dashboard:groups'%}">{{UI_STRINGS_CONTEXT.UI_CANCEL_BTN_LABEL}}</a>
            <button class="mat-button mat-button-default" type="submit">{{UI_STRINGS_CONTEXT.UI_CREATE_BTN_LABEL}}</button>
        </div>
        <div class="flex flex-left">
            <div class="form-group">
                <label for="name">{% trans "Name" %} :</label>
                <input type="text" name="name" id="name"> 
            </div>
        </div>
        <div class="container">
            <div class="margin-v padding-v">
                <div class="">
                    <span class="bold">{% trans "Select Permissions to add" %}</span>
                </div>
                <div class="collapsible padding-v">
                    <div class="collapsible-toggle padding-v open">
                        <span class="">{% trans "Filter" %}<i class="fas fa-angle-down padding-h"></i></span>
                    </div>
                    <div class="collapse-content">
                        <input class="js-list-filter" 
                                type="text" data-element=".entry" 
                                data-target="available-permission-list" 
                                data-fields="name codename"
                                placeholder="{% trans 'Enter the term to filter' %}">
                    </div>
                </div>
                <div class="collapsible padding-v">
                    <div class="collapsible-toggle open padding-v">
                        <span class="bold">{% trans "Permission" %}<i class="fas fa-angle-down padding-h"></i></span>
                    </div>
                    <div class="collapse-content">
                        <ul class="mat-list filter-content" id="available-permission-list" data-target="#selected-permission-list" data-element="option">
                            {% for p in available_permissions %}
                            <li class="entry" data-value="{{p.pk}}" data-name="{{p.name}}" data-codename="{{p.codename}}"><div class="flex"><input type="checkbox" name="permissions" id="perm-{{p.pk}}" value="{{p.pk}}"><label for="perm-{{p.pk}}">{{p.name}} - {{p.codename}}</label></div></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="margin-v padding-v">
                <div class="">
                    <span class="bold">{% trans "Select Users to add" %}</span>
                </div>
                <div class="collapsible padding-v">
                    <div class="collapsible-toggle open  padding-v">
                        <span class="">{% trans "Filter" %}<i class="fas fa-angle-down padding-h"></i></span>
                    </div>
                    <div class="collapse-content">
                        <input class="js-list-filter" 
                                type="text" 
                                data-target="available-users-list" 
                                data-fields="username firstname lastname"
                                placeholder="{% trans 'Enter the term to filter' %}">
                    </div>
                </div>
                <div class="collapsible padding-v">
                    <div class="collapsible-toggle open padding-v">
                        <span class="bold">{{UI_STRINGS_CONTEXT.LABEL_USERS_PLURAL}}<i class="fas fa-angle-down padding-h"></i></span>
                    </div>
                    <div class="collapse-content">
                        <ul class="mat-list filter-content" id="available-users-list">
                            {% for u in available_users %}
                            <li class="entry" data-value="{{u.pk}}" data-username="{{u.username}}" data-firstname="{{u.first_name}}" data-lastname="{{u.last_name}}"><div class="flex"><input type="checkbox" name="users" id="user-{{u.pk}}" value="{{u.pk}}"><label for="user-{{u.pk}}">{{u.get_full_name}}[{{u.username}}]</label></div></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
    </form>
</div>

{% else %}
<div class="col-m-12 col-8 access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}