{% load i18n %}

{% if setting %}
    <div class="activity">
        <div class="status-entry">
            <a class="mat-button mat-button-outline" href="{%url 'dashboard:settings-update' setting.setting_uuid %}">{% trans "Edit" %}</a>
        </div>
        <div class="status-entry-wrapper">
            <div class="status-entry">
                <span class="text-gray"><i class="fas fa-mouse icon"></i><span>{% translate "Maintenant Mode" %}</span> : <span>{{setting.maintenance_mode|yesno:_('activated,deactivated')}}</span></span>
            </div>
            <div class="status-entry">
                <span class="text-gray"><i class="fas fa-mouse icon"></i><span>{% translate "Allow Anonyme User" %}</span> : <span>{{setting.allow_anonyme_user|yesno:_('activated,deactivated')}}</span></span>
            </div>
        </div> 
    </div>
  {% endif %}