
{% load i18n %}

<div class="sidebar-brand">
    <h4><span>{{SITE_NAME}}</span></h4>
    {% block SIDEBAR_BRAND_EXTRA %}{% endblock SIDEBAR_BRAND_EXTRA %}
</div>
<div id="dashboard-sidebar" class="dashboard-sidebar">
    <div class="sidebar-menu dashboard-menu">
        <ul>
            {% block SIDEBAR_CONTENT %}
            <li><a class="link" href="{% url 'dashboard:dashboard'%}"><i class="fas fa-tachometer-alt icon"></i><span>{% trans "Dashboard" %}</span></a></li>
            <li><a class="link" href="{% url 'dashboard:settings'%}"><i class="fas fa-gear icon"></i><span>{% trans "Settings" %}</span></a></li>
            {% if perms.auth.view_group %}<li><a class="link" href="{% url 'dashboard:groups'%}"><i class="fas fa-users icon"></i><span>{% trans "Groups" %}</span></a></li>{% endif %}
            
            {% if perms.auth.view_user %}
            
            <li><a class="link" href="{% url 'dashboard:users'%}"><i class="fas fa-user-circle icon"></i><span>{{UI_STRINGS_CONTEXT.LABEL_USERS_PLURAL}}</span></a></li>
            
            <li><a class="link" href="{% url 'dashboard:tokens' %}"><i class="fas fa-key icon"></i><span>{% trans "Tokens" %}</span></a></li>
            {% comment %}
                <li><a class="mat-button mat-button-text" href="{% url 'dashboard:partner-tokens' %}"><i class="fas fa-key icon"></i><span>{% trans "Partner Tokens" %}</span></a></li>
            {% endcomment %}
            
            {% endif %}
            {% endblock SIDEBAR_CONTENT %}
            <li><a class="link" href="{% url 'home'%}" target="_blank"><i class="fas fa-home icon"></i><span>{{UI_STRINGS_CONTEXT.UI_LINK_TO_SITE_LABEL}}</span></a></li>
            <li><a class="link" href="{% url 'accounts:logout'%}"><i class="fas fa-sign-out-alt icon"></i><span>{{UI_STRINGS_CONTEXT.UI_SIGNOUT_LABEL}}</span></a></li>
        </ul>
    </div>
</div>