{% extends "dictionary_base.html" %}
{% load i18n %} 
{% load dictionary_tags %}


{% block MAIN %}
<div class="container flex-center">
    <div class="col-m-12 col-8">
        <div class="grid">
            <div class="margin full">
                <div class="flex flex-left"><span class="padding-h">{% translate "Countries" %} (<span class="lowercase bold">{{country_list.count}}</span>)</span></div>
            </div>
            
            <div class="margin full">
                <ul>
                    {% for country in country_list %}
                    <li class="margin-b">
                        <a href="{{country.get_absolute_url}}"><span class="bold word-type">{{country}}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock MAIN %}