{% extends "dictionary_base.html" %}
{% load i18n %} 
{% load dictionary_tags %}


{% block MAIN %}
<div class="container">
    
    <div class="flex flex-left"><span class="padding-h">{% translate "Countries" %} <span class="lowercase">{{countrie_list.count}}</span></span></div>
    <div class="mat-box full">
        <ul>
            {% for country in country_list %}
            <li>
                <div>
                    <div class="flex flex-left"><span class="bold word-type">{{country}}</span></div>
                </div>

            </li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock MAIN %}