{% extends "dictionary_base.html" %}
{% load i18n %} 
{% load dictionary_tags %}


{% block MAIN %}

<div class="container flex-center">
    <div class="flex flex-center full padding">
        <div class="collapsible grid">
            <button class="collapse-v2-toggle bold" data-toggle="contribute-group" data-target="contribute-group"><span><i class="fas fa-users"></i><span>{% translate "Contribute" %}</span></span></button>
            <div id="contribute-group" class="collapse full">
                <ul class="flex">
                    <li><a class="mat-button" href="{% url 'dictionary:country-create' %}" title="{% translate 'Add a new country for a langage' %}"><i class="fas fa-plus"></i><span>{% translate "Country" %}</span></a></li>
                    <li><a class="mat-button" href="{% url 'dictionary:langage-create' %}" title="{% translate 'Add a new langage for a translation' %}"><i class="fas fa-plus"></i><span>{% translate "Langage" %}</span></a></li>
                    <li><a class="mat-button" href="{% url 'dictionary:word-create' %}" title="{% translate 'Add a new word for a langage' %}"><i class="fas fa-plus"></i><span>{% translate "Word" %}</span></a></li>
                </ul>
            </div>
        </div>
        
      </div>
    <div class="col-m-12 col-8">
        <div class="grid">
            <div class="col-m-4 col-4">
                <div class="source-langage padding flex flex-left full">
                    <button id="select-detect-langage" class="select-detect-langage detect-langage hidden-m bold" data-type="2">{% translate "Detect langage" %}</button>
                    <div id="recent-source-langages" class="recent-langages flex padding"></div>
                    <button id="select-source-langage" class="select-source-langage padding collapse-v2-toggle hidden-m" type="button" data-container="recent-source-langages" data-type="0" data-target="langage-selection-container"><i class="fas fa-chevron-down"></i></button>
                </div>
            </div>
            <div class="col-m-1 col-1">
                <div class="grid"><button class="swap-langage-btn padding" data-source="" data-target=""><i class="fa-solid fa-right-left"></i></button></div>
            </div>
            <div class="col-m-4 col-4">
                <div class="target-langage padding flex flex-left full">
                    <div id="recent-target-langages" class="recent-langages flex padding"></div>
                    <button id="select-target-langage" class="select-target-langage padding collapse-v2-toggle hidden-m" data-container="recent-target-langages" data-type="1" data-target="langage-selection-container"><i class="fas fa-chevron-down"></i></button>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="col-m-12 col-10">
                <div id="langage-selection-container" class="collapse">
                    {% include "tags/dict_langage_list_selection.html" %}
                </div>
            </div>
        </div>
        
        <div class="grid align-baseline">
            <div class="col-m-12 col-5">
                <div class="container">
                    <div class="source-langage word-input-wrapper">
                        <textarea name="text" id="dict-text" placeholder="{% translate 'Enter word' %}"></textarea>
                    </div>
                    <div id="word-definitions-container" class="padding-v full"></div>
                </div>
            </div>
            <div class="col-m-12 col-5">
                <div class="container">
                    <div class="target-langage word-input-wrapper">
                        <div class="target-placeholder hidden-m">
                            <span>{% translate "Translation" %}</span>
                            <span id="no-translation" class="hidden">{% translate "No translations" %}</span>
                        </div>
                        <div id="word-translations-container" class="padding-v full"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock MAIN %}