{% extends "dictionary_base.html" %}
{% load i18n %} 
{% load dictionary_tags %}


{% block MAIN %}

<div class="container flex-center">
    <div class="full padding">
        <ul class="flex">
            <li><a href="{% url 'dictionary:country-create' %}">{% translate "New Country" %}</a></li>
            <li><a href="{% url 'dictionary:langage-create' %}">{% translate "New Langage" %}</a></li>
            <li><a href="{% url 'dictionary:word-create' %}">{% translate "New Word" %}</a></li>
        </ul>
      </div>
    <div class="col-m-12 col-8">
        {% include "tags/langage_selection_dialog.html" %}
        <div class="grid">
            <div class="col-m-5 col-5">
                <div class="source-langage padding flex flex-left full">
                    <span id="select-detect-langage" class="select-detect-langage detect-langage">{% translate "Detect langage" %}</span>
                    <div id="recent-source-langages" class="recent-langages flex padding"></div>
                    <span id="select-source-langage" class="select-source-langage padding" data-container="recent-source-langages" data-target="langage-selector-dialog"><i class="fas fa-chevron-down"></i></span>
                </div>
            </div>
            <div class="col-m-1 col-1">
                <div class="grid"><span class="padding"><i class="fa-solid fa-right-left"></i></span></div>
            </div>
            <div class="col-m-5 col-5">
                <div class="target-langage padding flex flex-left full">
                    <div id="recent-target-langages" class="recent-langages flex padding"></div>
                    <span id="select-target-langage" class="select-target-langage padding" data-container="recent-target-langages" data-target="langage-selector-dialog"><i class="fas fa-chevron-down"></i></span>
                </div>
            </div>
        </div>
        <div class="grid align-baseline">
            <div class="col-m-12 col-5">
                <div class="container">
                    <div class="source-langage word-input-wrapper">
                        <textarea name="text" id="dict-text" placeholder="{% translate 'Enter word' %}"></textarea>
                    </div>
                    <div id="word-definitions-container" class="padding-v full"></div>
                </div>
            </div>
            <div class="col-m-12 col-5">
                <div class="container">
                    <div class="target-langage word-input-wrapper">
                        <div class="target-placeholder">
                                <span>{% translate "Translation" %}</span>
                        </div>
                        <div id="word-translations-container" class="padding-v full"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock MAIN %}