{% extends "dictionary_base.html" %}
{% load i18n %} 
{% load dictionary_tags %}


{% block MAIN %}
<div class="container">
    <div class="flex flex-left flex-wrap">
        <div class="col-m-5 col-5">
            <div class="source-langage"><span>{{source}}</span></div>
        </div>
        <div class="col-m-1 col-1"><span><i class="fa-solid fa-right-left"></i></span></div>
        <div class="col-m-5 col-5">
            <div class="target-langage"><span>{{target}}</span></div>
        </div>
    </div>
    <div class="flex flex-left flex-wrap">
        <div class="col-m-12 col-5">
            <div class="source-langage">
                <textarea name="text" id="text" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="col-m-12 col-5">
            <div class="source-langage">
                <div class="mat-box-full">
                    <ul>
                        {% for translation in translations %}
                        <li>
                            <div>
                                <div class="flex flex-left"><span class="bold word-type">{{translation.word_type|dict_word_type}}</span></div>
                                <div class="flex space-between"><span>{{translation.word}}</span> <div class="flex">{% for synonyme in translation.synonymes %}<span class="chips">{{synonyme}}</span>{% endfor %}</div></div>
                            </div>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    
    
</div>

{% endblock MAIN %}