{% extends "dictionary_base.html" %}
{% load i18n %} 
{% load dictionary_tags %}
{% load core_tags %}


{% block MAIN %}
<div class="grid">
    <div class="col-m-12 col-8">
        <div class="grid padding-05">
            <div class="flex full">
                <span class="extra-large bold">
                    <span class="capitalyze">{{langage}}</span>
                </span>
                <a href="{% url LANGAGE_UPDATE_URL langage.slug langage.langage_uuid %}" class="margin-l"><i class="fas fa-edit"></i></a>
            </div>
            <div class="flex full">
                <div id="tabs" class="tabs flex flex-center" data-current="1">
                    <div class="col-m-4 col-4"><div class="tab active" data-parent="tabs" data-index="1" data-target="langage-description"><span>{% translate "Description" %}</span></div></div>
                    <div class="col-m-4 col-4"><div class="tab" data-parent="tabs" data-index="2" data-target="langage-countries"><span>{% translate "Countries" %}</span></div></div>
                    <div class="col-m-4 col-4"><div class="tab" data-parent="tabs" data-index="3" data-target="langage-vocabulary"><span>{% translate "Vocabulary" %}</span></div></div>
                    
                </div>
            </div>
            <div class="tab-container full">
                <div id="langage-description" class="tab-content margin-v full">
                    <div class="flex flex-left">
                        <span class="bold"><span class="capitalize">{% translate "Description" %}</span></span>
                    </div>
                    <div class="margin-v full">
                        {% render_tag langage.description %}
                    </div>
                </div>
                <div id="langage-countries" class="tab-content margin-v full">
                    <div class="flex flex-left">
                        <span class="bold"><span class="capitalize">{% translate "Countries" %}</span></span>
                    </div>
                    <div class="padding-v full">
                        <ul class="grid-list">
                            {% for country in country_list %}
                            <li class="margin-b dict-list-entry">
                                <a href="{{country.get_absolute_url}}"><span class="word-type">{{country}}</span></a>
                            </li>
                            {% empty %}
                            <li class="margin-b dict-list-entry">
                                <span class="word-type">{% translate "No Countries" %}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="langage-vocabulary" class="tab-content margin-v full">
                    <div class="flex flex-left">
                        <span class="bold"><span class="capitalize">{% translate "Vocabulary" %}</span></span>
                        <a class="mat-button" href="{% url 'dictionary:word-create' %}" title="{% translate 'Add a new word for a langage' %}"><i class="fas fa-plus"></i><span>{% translate " Add Word" %}</span></a>
                    </div>
                    <div class="padding-v full">
                        <ul class="grid-list">
                            {% for word in word_list %}
                            <li class="margin-b dict-list-entry">
                                <a href="{{SITE_HOST}}{{word.get_absolute_url}}"><span class="word-type">{{word.word}}</span></a>
                            </li>
                            {% empty %}
                            <li class="margin-b dict-list-entry">
                                <span class="word-type">{% translate "No words" %}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock MAIN %}