{% extends "dictionary_base.html" %}
{% load i18n %} 
{% load dictionary_tags %}


{% block MAIN %}
<div class="grid">
    <div class="col-m-12 col-8">
        <div class="grid padding-05">
            <div class="margin-v full">
                {% if country %}
                <div class="flex flex-left"><span class="padding-v bold"><span class="capitalyze">{{country}}</span></span></div>
                {% endif %}
                <div class="flex flex-left">
                    <span class="padding-v bold">{{UI_STRINGS_CONTEXT.LABEL_LANGAGE_PLURAL}} (<span class="counter">{{langage_list.count}}</span>)</span>
                    <a class="mat-button" href="{% url 'dictionary:langage-create' %}" title="{{UI_STRINGS_CONTEXT.LABEL_LANGAGE_ACTION_ADD}}"><i class="fas fa-plus"></i><span>{% translate "Add Langage" %}</span></a>
                </div>
            </div>
            
            <div class="margin-v full">
                <ul class="grid-list">
                    {% for langage in langage_list %}
                    <li class="margin-b dict-list-entry">
                        <a href="{{langage.get_absolute_url}}"><span class="word-type">{{langage}}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock MAIN %}