{% extends "dictionary_base.html" %}
{% load i18n %} 
{% load dictionary_tags %}


{% block MAIN %}
<div class="container flex-center">
    <div class="col-m-12 col-8">
        <div class="grid">
            <div class="full">
                {% if country %}
                <div class="flex flex-left"><span class="padding-h"><span class="capitalyze">{{country}}</span></span></div>
                {% endif %}
                <div class="flex flex-left"><span class="padding-h">{% translate "Langages" %} (<span class="lowercase bold">{{langage_list.count}}</span>)</span></div>
            </div>
            
            <div class="full">
                <ul>
                    {% for langage in langage_list %}
                    <li class="margin-b">
                        <a href="{{langage.get_absolute_url}}"><span class="bold word-type">{{langage}}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock MAIN %}