{% extends "dictionary_base.html" %}
{% load i18n %} 
{% load dictionary_tags %}


{% block MAIN %}
<div class="container">
    {% if country %}
    <div class="flex flex-left"><span class="padding-h"><span class="capitalyze">{{country}}</span></span></div>
    {% endif %}
    <div class="flex flex-left"><span class="padding-h">{% translate "Langages" %} <span class="lowercase">{{langage_list.count}}</span></span></div>
    <div class="mat-box-full">
        <ul>
            {% for langage in langage_list %}
            <li>
                <div>
                    <div class="flex flex-left"><span class="bold word-type">{{langage}}</span></div>
                </div>

            </li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock MAIN %}