{% extends "dictionary_base.html" %}
{% load i18n %} 
{% load dictionary_tags %}


{% block MAIN %}
<div class="grid">
    <div class="col-m-12 col-8">
        <div class="grid padding-05">
            <div class="flex full">
                <span class="extra-large bold">
                    <span class="capitalize">{{word}}</span>
                    {% if word.audio %}<span class="audio"><i class="fa-solid fa-play"></i> <audio src="{{SITE_HOST}}{{word.audio.url}}"></audio></span> {% endif %}
                </span>
                <a href="{% url WORD_UPDATE_URL word.word word.word_uuid %}" class="margin-l"><i class="fas fa-edit"></i></a>
            </div>
            <div class="flex full">
                <div id="tabs" class="tabs flex flex-center" data-current="1">
                    <div class="col-m-3 col-3"><div class="tab active" data-parent="tabs" data-index="1" data-target="word-definitions"><span>{% translate "Definition" %}</span></div></div>
                    <div class="col-m-3 col-3"><div class="tab" data-parent="tabs" data-index="2" data-target="word-synonymes"><span>{% translate "Synonymes" %}</span></div></div>
                    <div class="col-m-3 col-3"><div class="tab" data-parent="tabs" data-index="3" data-target="word-examples"><span>{% translate "Examples" %}</span></div></div>
                    <div class="col-m-3 col-3"><div class="tab" data-parent="tabs" data-index="4" data-target="word-translations"><span>{% translate "Translations" %}</span></div></div>
                </div>
            </div>
            <div class="tab-container full">
                <div id="word-definitions" class="tab-content margin-v full">
                    <div class="flex flex-left">
                        <span class="bold"><span class="lowercase">{{word}}</span></span>
                    </div>
                    <div class="margin-v full">
                        {% render_tag word.description %}
                    </div>
                    {% if definitions %}
                    <div class="margin-v full">
                        <div class="padding-v full">
                            <ul>
                                {% for def in definitions %}
                                <li>
                                    <div>
                                        <div class="flex flex-left"><span class="bold word-type">{{def.word_type|dict_word_type}}</span></div>
                                        <div>
                                            {% render_tag def.description %}
                                        </div>
                                    </div>
                    
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div id="word-synonymes" class="tab-content margin-v full">
                    <div class="padding-v full">
                        <ul class="grid-list">
                            {% for synonyme in word.synonymes.all %}
                            <li>
                                <div class="flex flex-left"><span class="bold word-type">{{synonyme.word}}</span></div>
                            </li>
                            {% empty %}
                            <li>
                                <div class="flex flex-left">
                                    <span class="bold word-type">{% translate "No synonymes" %}.</span>
                                    <a href="{% url PHRASE_CREATE_URL word.word_uuid%}"><span class="margin-l">{% translate "Contribute by adding synonymes" %}</span></a>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="word-examples" class="tab-content margin-v full">
                    <div class="padding-v full">
                        <ul>
                            {% for phrase in phrases %}
                            <li>
                                <div>
                                    <div class="flex-flex-left"><a href="{% url PRASE_UPDATE_URL phrase.phrase_uuid %}" class="margin-l"><i class="fas fa-edit"></i><span class="bold phrase-start">{% translate "Update this example" %}</span></a></div>
                                    <div>{% render_tag phrase.content %}</div>
                                </div>
                
                            </li>
                            {% empty %}
                            <li>
                                <div class="flex flex-left">
                                    <span class="bold word-type">{% translate "No examples" %}.</span>
                                    <a href="{% url PHRASE_CREATE_URL word.word_uuid%}"><span class="margin-l">{% translate "Contribute by adding an example" %}</span></a>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="word-translations" class="tab-content margin-v full">
                    <div class="padding-v full">
                        <ul class="grid-list">
                            {% for translation in translations %}
                            <li>
                                <div>
                                    <div class="flex flex-left"><span class="bold word-type">{{translation.word_type|dict_word_type}}</span></div>
                                    <div class="flex space-between"><span>{{translation.word}}</span> <div class="flex">{% for synonyme in translation.synonymes %}<span class="chips">{{synonyme}}</span>{% endfor %}</div></div>
                                </div>

                            </li>
                            {% empty %}
                            <li>
                                <div class="flex flex-left">
                                    <span class="bold word-type">{% translate "No translations" %}.</span><a href="{% url TRANSLATION_CREATE_URL word.word_uuid %}"><span class="margin-l">{% translate "Contribute by adding translations." %}</span></a>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    

    

    
</div>

{% endblock MAIN %}