{% extends "dictionary_base.html" %}
{% load i18n %} 
{% load dictionary_tags %}


{% block MAIN %}
<div class="container">
    <div class="col-m-12 col-8">
        <div class="grid padding">
            <div class="margin-v full">
                <div class="flex flex-left">
                    <span class=""><span class="lowercase">{{word}}</span> : </span>
                    {% comment %}
                        <span class="btn-back"><i class="fas fa-arrow-left"></i></span><span class="padding-h"><span class="lowercase">{{word}}</span></span>
                    {% endcomment %}
                    {% if word.audio %}<span class="audio"><i class="fa-solid fa-play"></i> <audio src="{{SITE_HOST}}{{word.audio.url}}"></audio></span> {% endif %}
                </div>
                <div class="margin-v full">
                    {% render_tag word.description %}
                </div>
            </div>
            <div class="margin-v full">
                <div class="flex flex-left"><span class="padding-h">{% translate "Definition of " %} <span class="lowercase">{{word}}</span></span></div>
                <div class="mat-box-full">
                    <ul>
                        {% for def in definitions %}
                        <li>
                            <div>
                                <div class="flex flex-left"><span class="bold word-type">{{def.word_type|dict_word_type}}</span></div>
                                <div>
                                    {% render_tag def.description %}
                                </div>
                            </div>
            
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="margin-v full">
                <div class="flex flex-left"><span class="padding-h">{% translate "Example of " %} <span class="lowercase">{{word}}</span></span></div>
                <div class="mat-box-full">
                    <ul>
                        {% for phrase in phrases %}
                        <li>
                            <div>
                                <span class="bold phrase-start"></span>
                                <div>{% render_tag phrase.content %}</div>
                            </div>
            
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="margin-v full">
                <div class="flex flex-left"><span class="padding-h">{% translate "Translation of " %} <span class="lowercase">{{word}}</span></span></div>
                <div class="mat-box-full">
                    <ul>
                        {% for translation in translations %}
                        <li>
                            <div>
                                <div class="flex flex-left"><span class="bold word-type">{{translation.word_type|dict_word_type}}</span></div>
                                <div class="flex space-between"><span>{{translation.word}}</span> <div class="flex">{% for synonyme in translation.synonymes %}<span class="chips">{{synonyme}}</span>{% endfor %}</div></div>
                            </div>

                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="margin-v full">
                
            </div>
            <div class="margin-v full">
                
            </div>
            <div class="margin-v full">
                
            </div>
        </div>
    </div>
    
    

    

    
</div>

{% endblock MAIN %}