{% extends "dictionary_base.html" %}
{% load i18n %} 
{% load core_tags %}
{% load dictionary_tags %}


{% block MAIN %}
<div class="grid">
    <div class="col-m-12 col-8">
        <div class="grid padding-05">
            <div class="flex full">
                <span class="extra-large bold">
                    <span class="capitalize">{{word}}</span>
                    {% if word.audio %}<span class="audio"><i class="fa-solid fa-play"></i> <audio src="{{SITE_HOST}}{{word.audio.url}}"></audio></span> {% endif %}
                </span>
                <a title="{{UI_STRINGS_CONTEXT.UI_UPDATE_BTN_LABEL}}" href="{% url WORD_UPDATE_URL word.word word.word_uuid %}" class="margin-l"><i class="fas fa-edit"></i></a>
            </div>
            <div class="flex full">
                <i class="fas fa-language"></i>{% if word.transliteration %}<span title="{{UI_STRINGS_CONTEXT.LABEL_TRANSLITERATION}}" class="small bold">[{{word.transliteration}}]</span>{% endif %}
                <a class="bold small padding-05" title="{{UI_STRINGS_CONTEXT.UI_OPEN_BTN_LABEL}}" href="{{word.langage.get_absolute_url}}"><span class="small bold">{{word.langage}}</span></a>
            </div>
            <div class="flex full">
                <div id="tabs" class="tabs flex flex-center" data-current="1">
                    <div class="tab active" data-parent="tabs" data-index="1" data-target="word-definitions"><span>{{UI_STRINGS_CONTEXT.LABEL_DEFINITION}}</span></div>
                    <div class="tab" data-parent="tabs" data-index="2" data-target="word-synonymes"><span>{{UI_STRINGS_CONTEXT.LABEL_SYNONYME_PLURAL}}</span></div>
                    {% comment %}
                        <div class="tab" data-parent="tabs" data-index="3" data-target="word-examples"><span>{{UI_STRINGS_CONTEXT.LABEL_EXAMPLE_PLURAL}}</span></div>
                    {% endcomment %}
                    <div class="tab" data-parent="tabs" data-index="4" data-target="word-translations"><span>{{UI_STRINGS_CONTEXT.LABEL_TRANSLATION_PLURAL}}</span></div>
                </div>
            </div>
            <div class="tab-container full">
                <div id="word-definitions" class="tab-content margin-v full">
                    <div class="flex flex-left">
                        <span class="bold"><span class="lowercase">{{word}}</span></span>
                        {% if word.word_type is not None %}
                        <span class="small bold">, [{{word.word_type|word_type}}]</span>
                        {% endif %}
                        {% if word.transliteration %}
                        <span class="small bold">, [{{word.transliteration}}]</span>
                        {% endif %}
                    </div>
                    <div class="margin-v full">
                        {% if word.definition %}
                        <div class="margin-b">{{word.definition}}</div>
                        {% endif %}
                        {% if word.description %}
                        {% render_tag word.description %}
                        {% endif %}
                    </div>
                    {% if definitions %}
                    <div class="margin-v full">
                        <div class="padding-v full">
                            <ul>
                                {% for def in definitions %}
                                <li>
                                    <div>
                                        <div class="flex flex-left"><span class="bold word-type">{{def.word_type|dict_word_type}}</span></div>
                                        <div>
                                            {% render_tag def.description %}
                                        </div>
                                    </div>
                    
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div id="word-synonymes" class="tab-content margin-v full">
                    <div class="flex">
                        <div class="col-m-12 col-4">
                            <div class="link flex js-open-modal padding-05 margin-b mat-button-default" data-target="new-synonyme-dialog">
                                <span>
                                    <i class="fas fa-plus"></i><span class="small">{{UI_STRINGS_CONTEXT.LABEL_SYNONYME_CONTRIBUTE}}</span>
                                </span>
                            </div>                            
                        </div>
                    </div>
                    <div class="padding-v full">
                        {% if word.synonymes.all %}
                        <ul class="grid-list">
                            {% for synonyme in word.synonymes.all %}
                            <li>
                                <div class="margin-b full">
                                    <a class="bold" href="{{SITE_HOST}}{{synonyme.get_absolute_url}}">
                                        <div class="flex flex-left">
                                            <span class="bold word-type">{{synonyme.word}}</span>
                                            {% if synonyme.word_type is not None %}
                                            <span class="small bold">, [{{synonyme.word_type|word_type}}]</span>
                                            {% endif %}
                                            {% if synonyme.transliteration %}
                                            <span class="small bold">, [{{synonyme.transliteration}}]</span>
                                            {% endif %}
                                        </div>
                                    </a>
                                    
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <div class="flex flex-left flex-wrap">
                            <div class="bold word-type margin-b full">{{UI_STRINGS_CONTEXT.LABEL_NO_SYNONYME}}</div>
                            {% comment %}
                                <a class="link" href="{% url TRANSLATION_CREATE_URL word.word_uuid %}"><span class="margin-l">{% translate "Contribute by adding translations." %}</span></a>
                            {% endcomment %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div id="word-examples" class="tab-content margin-v full">
                    <div class="flex">
                        <div class="col-m-12 col-4">
                            <div class="link flex js-open-modal padding-05 margin-b mat-button-default" data-target="new-phrases-dialog">
                                <span>
                                    <i class="fas fa-plus"></i><span class="small">{{UI_STRINGS_CONTEXT.LABEL_EXAMPLE_CONTRIBUTE}}</span>
                                </span>
                            </div>                            
                        </div>
                    </div>
                    <div class="padding-v full">
                        {% if phrases %}
                        <ul>
                            {% for phrase in phrases %}
                            <li>
                                <div>
                                    <div class="flex-flex-left"><a href="{% url PRASE_UPDATE_URL phrase.phrase_uuid %}" class="margin-l"><i class="fas fa-edit"></i><span class="bold phrase-start">{% translate "Update this example" %}</span></a></div>
                                    <div>{% render_tag phrase.content %}</div>
                                </div>
                
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <div class="flex flex-left flex-wrap">
                            <div class="bold word-type margin-b full">{{UI_STRINGS_CONTEXT.LABEL_NO_EXAMPLE}}</div>
                            
                            {% comment %}
                                <a class="link" href="{% url TRANSLATION_CREATE_URL word.word_uuid %}"><span class="margin-l">{% translate "Contribute by adding translations." %}</span></a>
                            {% endcomment %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div id="word-translations" class="tab-content margin-v full">
                    <div class="flex">
                        <div class="col-m-12 col-4">
                            <div class="link flex js-open-modal padding-05 margin-b mat-button-default" data-target="new-translation-dialog">
                                <span>
                                    <i class="fas fa-plus"></i><span class="small">{{UI_STRINGS_CONTEXT.LABEL_TRANSLATION_CONTRIBUTE}}</span>
                                </span>
                            </div>                            
                        </div>
                    </div>
                    
                    <div class="padding-v full">
                        {% if translations %}
                        {% comment %}
                            <div class="margin-v full">
                                {% if word.definition %}
                                <div class="margin-b">{{word.definition}}</div>
                                {% endif %}
                                {% if word.description %}
                                {% render_tag word.description %}
                                {% endif %}
                            </div>
                        {% endcomment %}
                        <div class="flex flex-left flex-wrap full margin-b">
                            <div class="margin-v margin-r">
                                <span class="bold word-type">{{word}}</span>
                                {% if word.transliteration %}
                                <span class="small bold">[{{word.transliteration}}]</span>
                                {% endif %}
                                <span>:</span>
                            </div>
                            <div class="margin-v"><span>{{word.definition}}</span></div>
                            
                        </div>
                        <ul class="">
                            {% for translation in translations %}
                            <li>
                                <div class="grid">
                                    <div class="flex flex-left full">
                                        <span class="bold word-type">{{translation}}</span>
                                        {% if translation.word_type is not None %}
                                        <span class="small bold">[{{translation.word_type|word_type}}]</span>
                                        {% endif %}
                                        {% if translation.transliteration %}
                                        <span class="small bold">[{{translation.transliteration}}]</span>
                                        {% endif %}
                                        <span class="margin-h"><i class="fas fa-language"></i><span>{{translation.langage}}</span></span>
                                        <a class="link" href="{{SITE_HOST}}{{translation.get_absolute_url}}" title="{% translate 'Details' %}"><i class="fas fa-book-open big"></i></a>
                                    </div>
                                    <div class="margin-t full">
                                        <span class="bold word-type">{{UI_STRINGS_CONTEXT.LABEL_DESCRIPTION}}</span>
                                    </div>
                                    <div class="margin-v full">
                                        {% if translation.definition %}
                                        <div class="margin-b">{{translation.definition}}</div>
                                        {% endif %}
                                        {% if translation.description %}
                                        {% render_tag translation.description %}
                                        {% endif %}
                                    </div>
                                    {% if translation.synonymes.exists %}
                                    <div class="margin-v flex flex-left full">
                                        <div>
                                            <span class="margin-r">{{UI_STRINGS_CONTEXT.LABEL_SYNONYME_PLURAL}}</span> 
                                        </div>
                                        <div class="flex flex-wrap padding-05">
                                            {% for synonyme in translation.synonymes.all %}
                                            <span class="chips">{{synonyme}}</span>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% comment %}
                                        <div class="margin-b full">
                                            <a class="link" href="{{SITE_HOST}}{{translation.get_absolute_url}}"><span class="word-type">{% translate "Details" %}</span></a>
                                        </div>
                                    {% endcomment %}
                                </div>

                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <div class="flex flex-left flex-wrap">
                            <div class="bold word-type margin-b full">{{UI_STRINGS_CONTEXT.LABEL_NO_TRANSLATION}}</div>
                            
                            {% comment %}
                                <a class="link" href="{% url TRANSLATION_CREATE_URL word.word_uuid %}"><span class="margin-l">{% translate "Contribute by adding translations." %}</span></a>
                            {% endcomment %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="dialogs">
                {% include 'tags/add_synonyme_dialog.html' %}
                {% include 'tags/add_translation_dialog.html' %}

            </div>
        </div>
    </div>
    
    

    

    
</div>

{% endblock MAIN %}