
{% extends "base.html" %}
{% load i18n %} 
{% block HEADER_PANEL %}
  <div class="header--panel">
       <ul class="flex">
        <li><a class="mat-button mat-button-text link logo" href="{%url 'home'%}"> {{site_name}} </a></li>
       </ul>
  </div>
{% endblock HEADER_PANEL %}
{% block HEADER_BANNER %}

{% endblock HEADER_BANNER %}

{% block MAIN %}

  <div class="container user-registration">
    <div class="hidden-xs col-6">
        <div class="signup-hero"></div>
    </div>
    <div class="col-m-12 col-6">
      <form class="signup-form full" action="{% url 'accounts:register'%}" method="POST">{% csrf_token %}
            <div class="full">
                <div class="mat-box-title center margin-v"><span class="bold cta-primary-color">{{UI_STRINGS_CONTEXT.UI_SIGN_UP_LABEL}}</span></div>
                <div class="grid">
                  <div class="col-m-12 col-6">
                    <div class="form-group-wrapper padding">
                      <div class="form-group">
                        <label class="full" for="username">{{UI_STRINGS_CONTEXT.UI_USERNAME_LABEL}}</label>
                        <input class="full" id="username" type="text" name="username">
                        {{form.username.errors}}
                      </div>
                      <div class="form-group">
                        <label class="full" for="first_name">{{UI_STRINGS_CONTEXT.UI_FIRSTNAME_LABEL}}</label>
                        <input class="full" id="first_name" type="text" name="first_name">
                        {{form.first_name.errors}}
                      </div>
                      <div class="form-group">
                        <label class="full" for="last_name">{{UI_STRINGS_CONTEXT.UI_LASTNAME_LABEL}}</label>
                        <input class="full" id="last_name" type="text" name="last_name">
                        {{form.last_name.errors}}
                    </div>
                    </div>
                  </div>
                  <div class="col-m-12 col-6">
                      <div class="form-group-wrapper padding">
                        <div class="form-group">
                          <label class="full" for="email">{{UI_STRINGS_CONTEXT.UI_EMAIL_LABEL}}</label>
                          <input class="full" id="email" type="text" name="email">
                          {{form.email.errors}}
                        </div>
                        <div class="form-group">
                          <label class="full" for="password1">{{UI_STRINGS_CONTEXT.UI_PASSWORD_LABEL}}</label>
                          <input class="full" id="password1" type="password" name="password1" autcomplete="new-password">
                          {{form.password1.errors}}
                        </div>
                        <div class="form-group">
                          <label class="full" for="password2">{{UI_STRINGS_CONTEXT.UI_PASSWORD_REPEAT_LABEL}}</label>
                          <input class="full" id="password2" type="password" name="password2" autcomplete="new-password">
                          {{form.password2.errors}}
                        </div>
                      </div>
                  </div>
                </div>
                <div class="mat-box-actions">
                    <div class="actions margin-v padding-v">
                      <div class="col-m-11 col-11 flex">
                        <button class="full cta-secondary-btn cta-primary-color" type="submit">{{UI_STRINGS_CONTEXT.UI_SIGN_UP_LABEL}}</button>
                      </div>
                    </div>
                    <div class="actions padding-v">
                      <div class="flex full margin-b">
                        <div class="col-m-11 col-11 flex"><span class="register-hint cta-primary-color">{{UI_STRINGS_CONTEXT.UI_SIGN_IN_INVITE_LABEL}}</span></div>
                      </div>
                      <div class="flex full">
                        <div class="col-m-11 col-11 flex"><a class="full cta-primary-btn" href="{% url 'accounts:login' %}">{{UI_STRINGS_CONTEXT.UI_SIGNIN_LABEL}}</a></div>
                      </div>
                    </div>
                </div>
            </div>
        
      </form>
     </div>
  </div>
{% endblock MAIN %}
{% block FOOTER_CONTENT %}{% endblock FOOTER_CONTENT %}
