<!DOCTYPE html>
{% load i18n %} 
{% load cache %}
{% load static %}
{% load core_tags %}
<html lang="{{LANGUAGE_CODE}}">
{% include 'tags/head.html' %}
<body>
<input id="lang" type="hidden" name="lang" value="{{LANGUAGE_CODE}}">
<div class="page full">
{% block NAV %}
{% endblock NAV %}
 
{% block NEWS %}
{% if news %}
<div class="news">
    <span class="news-title">{% translate news.title %}</span>
    <div class="news-content"> {% translate news.content %}</div>
</div>
{% endif %}
{% endblock NEWS %}

{% block HEADER_BANNER %}

{% endblock HEADER_BANNER %}

<div class="container full-h">
{% block MAIN %}
{% endblock MAIN %}
</div>

</div><!--End of page -->
{% block FOOTER %}
{% include 'tags/footer.html' %}
{% endblock FOOTER %}
</body>

</html>