{% extends "dashboard_base.html"%}
{% load i18n %}

{% block CONTENT %}

{% if perms.can_access_dashboard %}

<div class="container style-container">
  <div class="mat-table-title flex flex-left flex-wrap style-box full">
    <div class="padding-v">{{UI_STRINGS_CONTEXT.LABEL_SETTINGS}}</div>
  </div>
  {% include 'tags/resources_tag.html' %}
</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock CONTENT %}