{% extends "dashboard_base.html"%}
{% load i18n %}

{% block CONTENT %}

{% if perms.auth.view_user %}

<div class="container style-container">
  <div class="mat-table-title flex flex-left flex-wrap style-box full">
    <div class="padding-v">{{UI_STRINGS_CONTEXT.LABEL_USERS_PLURAL}}</div>
    <div class="actions flex-left small">
      {% if perms.auth.add_user %}
      <a class="mat-button mat-button-text" href="{% url 'dashboard:settings-create' %}"><i class="fas fa-user-plus"></i><span>{% trans "Add Settings" %}</span></a>
      {% endif %}
    </div>
  </div>
  {% include 'tags/setting_tag.html' %}
</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock CONTENT %}