{% extends "users_base.html"%}
{% load i18n %}

{% block PAGE_CONTENT %}

{% if perms.auth.view_user %}

<div class="container style-container">
  <div class="mat-table-title flex flex-left flex-wrap style-box full">
    <div class="padding-v">{{UI_STRINGS_CONTEXT.LABEL_USERS_PLURAL}}</div>
    <div class="actions flex-left small">
      {% if perms.auth.add_user %}
      <a class="mat-button mat-button-text" href="{% url 'dashboard:create-user' %}"><i class="fas fa-user-plus"></i><span>{% trans "New User" %}</span></a>
      {% endif %}
    </div>
  </div>

  {% include "tags/components/user_search_form.html" %}

  <form action="" method="GET">{% csrf_token %}
        <div class="container style-box">
          {% comment %}<div class="actions flex-left"><button class="js-activable mat-button mat-button-text warn" disabled><i class="fas fa-trash icon"></i><span>{% trans "Delete" %}</span></button></div>{% endcomment %}
          {% include "tags/components/users-snippet.html"  with users=users BASE_URL="dashboard:user-detail" %}    
        </div>
  </form>
</div>

{% else %}
<div class="access-error">
  <p>{% trans "The page you requested could not be found or you are not allowed to access this page." %}</p>
</div>
{% endif %}
{% endblock PAGE_CONTENT %}