<!DOCTYPE html>
{% load i18n %} 
{% load cache %}
{% load static %}
{% load core_tags %}
<html lang="{{LANGUAGE_CODE}}">

<head>
        <meta charset="utf-8">
        {% block META_REDIRECT %}
        
        {% endblock META_REDIRECT %}
        <title>{% block title %}{{SITE_NAME}} | {{page_title}}{% endblock %}</title>
        <meta name="twitter:card"       content="summary_large_image">
        <meta name="twitter:creator"    content="@cyrildz"/>
        <meta name="keywords"           content="{{UI_STRINGS_CONTEXT.META_KEYWORDS|default:''}}">
        <meta name="description"        content="{{UI_STRINGS_CONTEXT.META_DESCRIPTION|default:''}} {{UI_STRINGS_CONTEXT.DESCRIPTION_HOOK|default:''}}">
        <meta property="og:title"       content="{{OG_TITLE|default:''}}">
        <meta property="og:description" content="{{UI_STRINGS_CONTEXT.META_DESCRIPTION|default:''}} {{UI_STRINGS_CONTEXT.DESCRIPTION_HOOK|default:''}}">
        <meta property="og:image"       content="{{OG_IMAGE|default:''}}">
        <meta property="og:url"         content="{{OG_URL|default:''}}">

        <meta property="twitter:title"       content="{{OG_TITLE|default:''}}">
        <meta property="twitter:description" content="{{UI_STRINGS_CONTEXT.META_DESCRIPTION|default:''}} {{DESCRIPTION_HOOK|default:''}}">
        <meta property="twitter:image:src"       content="{{OG_IMAGE|default:''}}">
        <meta property="twitter:url"         content="{{OG_URL|default:''}}">

        <meta property="og:type"        content="website">
        <meta property="og:site_name"   content="{{SITE_NAME}}">
        <meta name="theme-color"        content="{{SITE_HEADER_BG}}">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="{{SITE_NAME}}">
        <meta name="short_name" content="{{SITE_NAME}}">
        <meta name="name" content="{{SITE_NAME}}">
        <meta name="application-name" content="{{SITE_NAME}}">
        <meta name="msapplication-config" content="{% static 'browserconfig.xml' %}" />
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <meta name="apple-mobile-web-app-status-bar-style" content="{{SITE_HEADER_BG}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon apple-touch-icon" href="{% static 'favicon.ico' %}">
        <link rel="apple-touch-icon" href="{% static 'favicon.ico' %}">
        <link rel="canonical" href="{{OG_URL}}">
        
        <link rel="stylesheet"  href="{% static 'css/dashboard.min.css' %}" as="style" type="text/css">

</head>

<body>
<input id="lang" type="hidden" name="lang" value="{{LANGUAGE_CODE}}">
{% csrf_token %}
{% include "tags/components/loader.html" %}
{% block NOTIFICATIONS %}
        <div id="notifications-wrapper" class="notifications-wrapper">
                <div class="flex-column">
                        <ul id="messages" class="messages notification-list" data-toggle="#notifications-wrapper">
                        {% for message in messages %}
                                <li {% if message.tags %} class="{{message.tags}}" {% endif %}>
                                        <div class="notification flex">
                                                <i class="js-close fas fa-info-circle icon"></i>
                                                <p>{{message}}</p>
                                        </div>
                                </li>
                        {% endfor %}
                        </ul>
                </div>
        </div>
{% endblock NOTIFICATIONS %}
</div>
<div class="main-page">
    <input class="hidden" type="checkbox"  id="sidebar-toggle">
    <aside id="dashboard-sidebar-container" class="dashboard-sidebar-container">
        {% block SIDEBAR %}
        {% include "tags/dashboard_sidebar.html" %}
        {% endblock SIDEBAR %}
    </aside>
    <div id="content-page" class="content-page">
        <div class="content">
            {% block DASHBOARD_HEADER %}{% include "tags/dashboard_header.html" %}{% endblock DASHBOARD_HEADER %}
            
            {% block NEWS %}
            {% if news %}
                <div class="news">
                    <span class="news-title">{% trans news.title %}</span>
                    <div class="news-content"> {% trans news.content %}</div>
                </div>
            {% endif %}
            {% endblock NEWS %}
            <div class="main-content">
                {% block CONTENT %}
                
                {% endblock CONTENT %}
            </div>
        </div>
        {% block FOOTER %}
        {% cache TEMPLATE_CACHE_TIMEOUT footer-lyshop-dashboard LANGUAGE_CODE %}
        <footer class="footer">
                {% now "Y" as current_year %}
                <ul class="small">
                    <li><span>Copyright <i class="fa fa-copyright"></i><span class="copyright-year">{{current_year}}</span><span class="site">{{site_name}} - {{UI_STRINGS_CONTEXT.UI_FOOTER_ONLINE_SHOP}}</span></span></li>
                </ul>
        </footer>
        {% endcache %}
        {% endblock FOOTER %}
    </div>
</div>

<script defer  src="{% static 'js/vendors/jquery-3.6.0.min.js' %}"></script>
{% block BASE_SCRIPT %}
<script defer data-main="{% static 'js/dashboard.min' %}" src="{% static 'js/require.js' %}"></script>        
{% endblock BASE_SCRIPT %}

{% block SCRIPT %}
{% endblock SCRIPT %}

</body>

</html>


