<!DOCTYPE html>
{% load i18n %} 
{% load cache %}
{% load static %}
{% load core_tags %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{LANGUAGE_CODE}}">
{% include 'tags/head.html' %}

<body>
<div class="page full">
{% block HEADER %}
<header class="header">
{% block HEADER_PANEL %}
<div class="header--panel">
  <div class="col-xs-12 col-1">
        <div class="row">
                <ul class="logo">
                <li class="mat-list-item " data-action="3"><a class="mat-button mat-button-text" href="{%url 'home'%}">{{SITE_NAME}}</a></li>
                </ul>
        </div>
  </div>    
</div>
{% endblock HEADER_PANEL %}
         
</header>
{% endblock HEADER %}
 

<div class="grid full-h">
{% block MAIN %}

{% endblock MAIN %}
</div>

</div>
{% block FOOTER %}
{% include 'tags/footer.html' %}
{% endblock FOOTER %}

<script  src="{% static 'js/vendors/jquery-3.5.1.min.js' %}"></script>
{% block BASE_SCRIPT %}
<script  data-main="{% static 'js/main.min' %}" src="{% static 'js/require.js' %}"></script>        
{% endblock BASE_SCRIPT %}


</body>

</html>