{% extends "base.html" %}
{% load i18n %} 

{% block MAIN %}
<div class="container">
  <div class="mat-box full">
    <p>{{SITE_NAME}} !</p>
  </div>
  <div class="mat-box">
    <ul>
        <li><a href="{% url 'dictionary:dict-home' %}">{% translate "Dictionary" %}</a></li>
        <li><a href="{% url 'dictionary:countries' %}">{% translate "Countries" %}</a></li>
        <li><a href="{% url 'dictionary:langages' %}">{% translate "Langages" %}</a></li>
        <li><a href="{% url 'dictionary:country-create' %}">{% translate "New Country" %}</a></li>
        <li><a href="{% url 'dictionary:langage-create' %}">{% translate "New Langage" %}</a></li>
        <li><a href="{% url 'dictionary:word-create' %}">{% translate "New Word" %}</a></li>
    </ul>
  </div>
</div>

{% endblock MAIN %}