{% load i18n %} 


<div class="container">
        
    <form id="word-form-translation" class="form" name="translation-form" action="{% url TRANSLATION_CREATE_URL  %}" method="POST">{% csrf_token %}
        <div class="full create-form">
    
                <input type="hidden" name="changed_by" value="{{request.user.pk}}">
                <input id="word" type="hidden" name="word" value="{{word.pk}}">
                <div class="form-group-wrapper">
                    <div class="form-group">
                        <label for="source_word">{% trans "Translation Word" %}</label>
                        <input id="search-word" data-target="search-word-results" data-error="search-translation-word-error" data-keyboard_btn="translation-keyboard-btn" type="text" placeholder="Enter word ...">
                    </div>
                    <div id="search-translation-word-error" class="margin-t error hidden"><span>{% trans "Not found" %}</span></div>
                </div>
                <div id="search-word-results" class="form-group-wrapper">
                    
                </div>

                <div class="actions flex-right">
                    <button class="mat-button mat-button-default" type="button">{% trans "Add" %}</button>
                </div>
        </div>
    </form>
</div>          
