{% load i18n %} 


<div class="container">
        
    <form id="word-form-translation" class="form" name="translation-form" data-word="{{word.word_uuid}}" action="{% url TRANSLATION_CREATE_URL word.word_uuid %}" method="POST">{% csrf_token %}
        <div class="full create-form">
    
                <input type="hidden" name="changed_by" value="{{request.user.pk|default:''}}">
                <input id="word" type="hidden" name="word" value="{{word.word}}">
                <input id="translation-langage" type="hidden" name="langage" value="{{word.langage.pk}}">
                <div class="form-group-wrapper">
                    <div class="form-group">
                        <label for="translation-source_word">{% trans "Word" %}</label>
                        <input id="translation-search-word" class="search-word" data-target="translation-search-word-results" data-error="search-translation-word-error" data-keyboard_btn="translation-keyboard-btn" type="text" placeholder="Enter word ...">
                    </div>
                </div>
                <div id="translation-search-word-results" class="search-word-results form-group-wrapper scrollable">
                    
                </div>

                <div class="actions flex-right">
                    <button class="mat-button mat-button-default">{% trans "Add" %}</button>
                </div>
        </div>
    </form>
</div>          
