{% load i18n %} 


<div class="container">
        
    <form class="form" name="add-word" action="{% url 'dictionary:word-create' %}" method="POST">{% csrf_token %}
        <div class="create-form">
                {% if request.user.is_authenticated %}
                <input type="hidden" name="added_by" value="{{request.user.pk}}">
                {% endif %}
                <div class="form-group-wrapper">
                    <div class="col-m-12 col-5">
                        <div class="form-group full">
                            <label for="word">{% trans "Word" %}</label>
                            <input id="word" type="text"  name="word" value="">
                        </div>
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <div class="col-m-12 col-5">
                        <div class="form-group full">
                            <label for="langage">{% trans "Langage" %}</label>
                            <select name="langage" id="langage">
                                {% for l in langages %}
                                <option value="{{l.pk}}">{{l.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <div class="col-m-12 col-5">
                        <div class="form-group full">
                            <label for="synonyme">{% trans "Synonyme" %}</label>
                            <select name="synonyme" id="synonyme" multiple>
                                {% for w in words %}
                                <option value="{{w.pk}}">{{w.word}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <div class="col-m-12 col-5">
                        <div class="form-group full">
                            <input id="word-description" type="hidden" name="description">
                            <span class="padding-bottom">{% trans "Description" %}</span>
                            <div id="editor" class="editor mat-box" data-target="word-description" data-placeholder="{{UI_STRINGS_CONTEXT.UI_EDITOR_PLACEHOLDER}}"></div>
                        </div>
                    </div>
                </div>

                <div class="actions">
                    <a class="mat-button mat-button-outline js-cancel" href="{% url 'dictionary:dict-home' %}">{% trans "Cancel" %}</a>
                    <button class="mat-button mat-button-default" type="submit">{% trans "Create" %}</button>
                </div>
        </div>
    </form>
</div>          
