{% load i18n %} 


<div class="container">
        
    <form class="form" name="add-brand" action="{% url 'dictionary:langage-create' %}" method="POST">{% csrf_token %}
        <div class="create-form">
    
                {% if request.user.is_authenticated %}
                <input type="hidden" name="added_by" value="{{request.user.pk}}">
                {% endif %}
                <div class="form-group-wrapper">
                    <div class="col-m-12 col-5">
                        <div class="form-group full">
                            <label for="name">{% trans "Name" %}</label>
                            <input id="name" type="text"  name="name" value="">
                        </div>
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <div class="col-m-12 col-5">
                        <div class="form-group full">
                            <label for="countries">{% trans "Countries" %}</label>
                            <select name="countries" id="countries" multiple>
                                {% for c in countries %}
                                <option value="{{c.pk}}">{{c.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <div class="col-m-12 col-5">
                        <div class="form-group full">
                            <input id="langage-description" type="hidden" name="description">
                            <span class="padding-bottom">{% trans "Description" %}</span>
                            <div id="editor" class="editor mat-box" data-target="langage-description" data-placeholder="{{UI_STRINGS_CONTEXT.UI_EDITOR_PLACEHOLDER}}"></div>
                        </div>
                    </div>
                </div>

                <div class="actions">
                    <a class="mat-button mat-button-outline js-cancel" href="{% url 'dictionary:dict-home' %}">{% trans "Cancel" %}</a>
                    <button class="mat-button mat-button-default" type="submit">{% trans "Create" %}</button>
                </div>
        </div>
    </form>
</div>          
