{% load i18n %} 


<div class="container">
        
    <form class="form" name="add-brand" action="{% url PHRASE_CREATE_URL word.word_uuid%}" method="POST">{% csrf_token %}
        <div class="create-form">
                <div class="margin-v flex full">
                    <span class="extra-large bold">
                        <span class="capitalize">{% translate "Example usage for word" %}</span><span class="margin-l">{{word}}</span>
                    </span>
                </div>
    
                {% if request.user.is_authenticated %}
                <input type="hidden" name="added_by" value="{{request.user.pk}}">
                {% endif %}
                <input type="hidden" name="word" value="{{word.pk}}">
                <input type="hidden" name="langage" value="{{langage.pk}}">
                <div class="form-group-wrapper">
                    <div class="form-group full">
                        <label for="word">{% trans "Word" %}</label>
                        <input id="word" type="text" value="{{word.word}}">
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <div class="col-m-12 col-5">
                        <div class="form-group full">
                            <input id="phrase-content" type="hidden" name="content">
                            <span class="padding-bottom">{% translate "Content" %}</span>
                            <div id="editor" class="editor" data-target="phrase-content" data-placeholder="{{UI_STRINGS_CONTEXT.UI_EDITOR_PLACEHOLDER}}"></div>
                        </div>
                    </div>
                </div>

                <div class="actions">
                    <a class="mat-button mat-button-outline js-cancel" href="{% url DICTIONARY_HOME_URL %}">{% translate "Cancel" %}</a>
                    <button class="mat-button mat-button-default" type="submit">{% translate "Create" %}</button>
                </div>
        </div>
    </form>
</div>          
