{% load i18n %} 


<div class="grid">
    <form id="langage-form" class="langage-form" name="langage" action="{% url 'dictionary:langage-create' %}" method="POST">{% csrf_token %}
        <div id="form-management" class="hidden"></div>
        <div id="langage-form-container" class="create-form grid">  
        </div>
        <div class="actions">
            <a class="mat-button mat-button-outline js-cancel" href="{% url DICTIONARY_HOME_URL %}">{{UI_STRINGS_CONTEXT.UI_CANCEL_BTN_LABEL}}</a>
            <button id="add-langage-btn" class="mat-button mat-button-default" type="button"><span><i class="fas fa-plus"></i><span>{{UI_STRINGS_CONTEXT.UI_ADD_BTN_LABEL}}</span></span></button>
            <button class="mat-button mat-button-default create-langage-btn" type="submit">{{UI_STRINGS_CONTEXT.UI_CREATE_BTN_LABEL}}</button>
        </div>
    </form>
    <div id="country-selector-dialog" class="modal full">
        <div class="modal-container mat-box scrollable-m">
            <div class="modal-header">
                <span class="bold">{{UI_STRINGS_CONTEXT.LABEL_COUNTRY_PLURAL}}</span>
                <input class="js-list-filter" 
                        data-target="country-list" data-fields="name" type="text"
                        placeholder="{{UI_STRINGS_CONTEXT.LABEL_FILTER_INPUT}}" aria-label="{{UI_STRINGS_CONTEXT.LABEL_FILTER_INPUT}}">
                <span id="close-country-dialog" class="js-close-modal" title="{{UI_STRINGS_CONTEXT.UI_CLOSE_BTN_LABEL}}" data-target="country-selector-dialog"><i class="fas fa-times-circle"></i></span>
            </div>
            <div class="modal-content">
                <div id="country-list" class="grid padding filter-content">
                {% for country in country_list %}
                    <div class="country-select country-selection" data-id="{{country.pk}}" data-name="{{country.name}}" data-uuid="{{country.country_uuid}}"><span class="padding">{{country.name}}</span></div>
                {% endfor %}
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
