{% load i18n %} 


<div class="grid">
    <form id="word-form" class="word-form" name="word" action="{% url 'dictionary:word-create' %}" method="POST">{% csrf_token %}
        <div id="form-management" class="hidden"></div>
        <div id="word-form-container" class="create-form grid" data-types="{{WORD_TYPES_JSON}}">  
        </div>
        {% include 'tags/mass_create_actions.html' with ADD_BTN_ID='add-word-btn' CREATE_BTN_ID='create-word-btn' %}
    </form>
    {% include "tags/langage_selection_dialog.html" %}
    {% include "keyboard/african-keyboard.html" with KEYBOARD_ID="keyboard" DRAGGABLE="draggable" %}

</div>

