{% load i18n %} 


<div class="grid">
    <form id="translation-form" class="translation-form" name="translation" action="{% url 'dictionary:translation-create' %}" method="POST">{% csrf_token %}
        <div id="form-management" class="hidden"></div>
        <div id="translation-form-container" class="create-form grid">  
        </div>
        {% include 'tags/mass_create_actions.html' with ADD_BTN_ID='add-btn' CREATE_BTN_ID='create-btn' %}
    </form>
    {% include "tags/langage_selection_dialog.html" %}
</div>

