{% load i18n %}


<div class="mat-box full">
    <div class="dict-search-langage-wrapper flex flex-left">
        <input id="search-langages" data-filter="dict-langage-selection" type="text" name="langage" class="search-langages" placeholder="{{UI_STRINGS_CONTEXT.LABEL_SEARCH_LANGAGE}}" aria-label="{{UI_STRINGS_CONTEXT.LABEL_SEARCH_LANGAGE}}">
        <button 
                id="auto-select-detect-langage" 
                class="dict-langage-selection bold hidden-xl" 
                data-id=""
                data-uuid=""
                data-slug="auto" 
                data-name="{{UI_STRINGS_CONTEXT.LABEL_AUTO_DETECT}}" 
                data-type="2">
                {{UI_STRINGS_CONTEXT.LABEL_AUTO_DETECT}}
        </button>
    </div>
    <div id="dict-langages-container" class="dict-langages-container margin-v">
    {% for langage in langage_list %}
        <div class="dict-langage-select dict-langage-selection" 
                data-id="{{langage.pk}}" 
                data-slug="{{langage.slug}}" 
                data-name="{{langage.name}}" 
                data-uuid="{{langage.langage_uuid}}">
            <i class="fas fa-check"></i><span>{{langage.name}}</span>
        </div>
    {% empty %}
        <div id="no-results" class="dict-langage-selection-no-results"><span>{{UI_STRINGS_CONTEXT.UI_NO_RESULT}}</span></div>
        {% comment %}
            <div class="padding"><span class="word-type">{{UI_STRINGS_CONTEXT.LABEL_NO_LANGAGE}}</span></div>
        {% endcomment %}
    {% endfor %}
    </div>
</div>