{% load i18n %}


<div class="mat-box full">
    <div class="dict-search-langage-wrapper flex flex-left">
        <input id="search-langages" data-filter="dict-langage-selection" type="text" name="langage" class="search-langages" placeholder="{% translate 'Search langages' %}" aria-label="{% translate 'Search langages' %}">
    </div>
    <div id="dict-langages-container" class="dict-langages-container margin-v">
    {% for langage in langage_list %}
        <div class="dict-langage-select dict-langage-selection" data-id="{{langage.pk}}" data-slug="{{langage.slug}}" data-name="{{langage.name}}" data-uuid="{{langage.langage_uuid}}"><i class="fas fa-check"></i><span>{{langage.name}}</span></div>
    {% endfor %}
        <div id="no-results" class="dict-langage-selection-no-results hidden"><span>{% translate "No results" %}</span></div>
    </div>
</div>