{% load i18n %}

<div id="langage-selector-dialog" class="modal full">
    <div class="modal-container mat-box scrollable-m">
        <div class="modal-header">
            <span class="bold">{{UI_STRINGS_CONTEXT.LABEL_LANGAGE_PLURAL}}</span>
            <input class="js-list-filter" 
                        data-target="langage-list" data-fields="name slug" type="text"
                        placeholder="{{UI_STRINGS_CONTEXT.LABEL_FILTER_INPUT}}" aria-label="{{UI_STRINGS_CONTEXT.LABEL_FILTER_INPUT}}">
            <span id="close-langage-dialog" class="js-close-modal" title="{{UI_STRINGS_CONTEXT.UI_CLOSE_BTN_LABEL}}" data-target="langage-selector-dialog"><i class="fas fa-times-circle"></i></span>
        </div>
        <div class="modal-content">
            {% include "tags/langage_list_selection.html" %}
        </div>
        <div class="modal-footer"></div>
    </div>
</div>