<div class="actions">
    <a class="mat-button-text js-cancel" href="{% url DICTIONARY_HOME_URL %}"> <i class="fas fa-ban"></i><span>{{UI_STRINGS_CONTEXT.UI_CANCEL_BTN_LABEL}}</span></a>
    <button id="{{ADD_BTN_ID}}" class="mat-button-text" type="button"><span><i class="fas fa-plus"></i><span>{{UI_STRINGS_CONTEXT.UI_ADD_BTN_LABEL}}</span></span></button>
    <button id="{{CREATE_BTN_ID}}" class="mat-button-text {{CREATE_BTN_ID}}" type="submit"><i class="fas fa-paper-plane"></i><span>{{UI_STRINGS_CONTEXT.UI_CREATE_BTN_LABEL}}</span></button>
</div>