{% load i18n %} 


<div class="container">
        
    <form id="update-langage-form" class="form" name="update-langage-form" action="{% url LANGAGE_UPDATE_URL langage.slug langage.langage_uuid %}" method="POST">{% csrf_token %}
        <div class="mat-box full create-form">
    
                <input type="hidden" name="changed_by" value="{{request.user.pk}}">
                <div class="form-group-wrapper">
                    <div class="form-group">
                        <label for="name">{% trans "Name" %}</label>
                        <input id="name" type="text"  name="name" value="{{langage.name}}">
                    </div>
                    <div class="form-group">
                        <label for="slug">{% trans "Slug" %}</label>
                        <input id="slug" type="text"  name="slug" value="{{langage.slug}}">
                    </div>
                </div>
                <div class="form-group-wrapper">
                    <div class="form-group full description">
                        <input id="description" type="hidden" name="description" data-langage="{{langage.langage_uuid}}" value="{{langage.description|default_if_none:''}}">
                        <span class="padding-b">{% trans "Description" %}</span>
                        <div id="editor" class="editor" data-placeholder="{{UI_STRINGS_CONTEXT.UI_EDITOR_PLACEHOLDER}}"></div>
                    </div>
                </div>

                <div class="actions flex-right">
                    <a class="mat-button mat-button-outline js-cancel" href="{% url LANGAGE_URL langage.slug %}">{% trans "Cancel" %}</a>
                    <button class="mat-button mat-button-default" type="submit">{% trans "Update" %}</button>
                </div>
        </div>
    </form>
</div>          
