<div class="mat-table-wrapper full">
    <div class="mat-table-title">{{datatable.name}}</div>
    <div class="table-wrapper">
        <table class="mat-table js-filter-table">
            <thead>
                <tr>
                    {% for data in datatable.data_list %}<th scope="col">{{data.column}}</th>{% endfor %}
                    {% if datatable.actions %}
                    <th scope="col">{{datatable.action_label}}</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for data in datatable.data_list %}
                <tr>
                    <td data-label="{{data.column}}">
                        <span>{{data.value}}</span>
                    </td>
                </tr>
                {% endfor %}
                {% if datatable.actions %}
                <tr>
                    <td data-label="{{datatable.action_label}}">
                        {% include "tags/datatable-actions.html" with actions=datatable.actions %}
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    {% include "tags/pagination.html" with page_set=order_list %}
</div>