{% load i18n %}

<div id="user-search-form" class="container">
    <div class="mat-box full">
        <form action="{% url 'dashboard:user-searches' %}" method="get">
            <div class="form-group-wrapper">
                <div class="col-m-8 col-8">
                    <div class="form-group">
                        <input type="text" id="search" class="full" name="q" placeholder="{% translate 'Search User' %}">
                    </div>
                </div>
                <div class="col-m-2 col-2">
                    <div class="actions">
                        <button class="big" type="submit" title="{{UI_STRINGS_CONTEXT.UI_SEARCH_LABEL}}"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>