{% load i18n %}
<div id="{{KEYBOARD_ID|default:'keyboard'}}" class="keyboard-container hidden {{DRAGGABLE|default:''}}">
    <div class="virtual-keyboard">
        <div id="african-keyboard" class="keyboard">
            <p id="ip"></p>
            <div id="keys" class="keyboard"></div>
            <div class="keyboard-row row4">
                <div class="cap-lock" id="cap-lock">&#8682;</div>
                <div class="cap-lock" id="switch-keyboard"><i class="fas fa-sync"></i></div>
                <div class="space" id="space">{{UI_STRINGS_CONTEXT.UI_SPACE_KEY_LABEL}}</div>
                <div class="backspace" id="backspace">{{UI_STRINGS_CONTEXT.UI_BACKSPACE_KEY_LABEL}}</div>
            </div>
        </div>
    </div>
</div>
