{% load i18n %}
<div id="keyboard" class="keyboard-container draggable hidden">
    <div class="virtual-keyboard">
        <p id="ip"></p>
        <div id="african-keyboard" class="keyboard">
            <div id="keys" class="keybaord"></div>
            <div class="keyboard-row row4">
                <div class="cap-lock" id="cap-lock">{% translate "Cap. Lock" %}</div>
                <div class="space" id="space">{% translate "space" %}</div>
                <div class="backspace" id="backspace">{% translate "Backspace" %}</div>
            </div>
        </div>
    </div>
</div>
